<h1 class="page-header">My Reservations</h1>

<div ng-show="controller.reservations.length">
    <div ng-repeat="reservation in controller.reservations">
        <div class="panel panel-default">
            <div class="panel-heading">Flight: {{reservation.flightNumber}}</div>
            <div class="panel-body">
                Departure {{flight.departure | date:'short'}} -> Arrival {{flight.arrival | date:'short'}}
            </div>
            <div class="panel-body">
                <a href="/user/reservation/create/{{flight.id}}"  class="btn btn-primary" role="button">Reserve a ticket</a>
                <button ng-click="controller.cancelFlight(flight)" class="btn">Cancel the flight</button>
            </div>
        </div>
    </div>

</div>
