<h1 class="page-header">Reservations</h1>

<div ng-show="controller.reservations.length">
    <div ng-repeat="reservation in controller.reservations">
        <div class="panel panel-default">
            <div class="panel-heading">Flight: {{reservation.flightNumber}}</div>
            <div class="panel-body">
                Departure {{reservation.origin}} - {{reservation.departure | date:'short'}} ->
                Arrival {{reservation.destination}} {{reservation.arrival | date:'short'}}
            </div>
            <div class="panel-body">
                Price {{reservation.price | currency:'$'}}
            </div>
            <div class="panel-body">
                Status {{reservation.status}}
            </div>
            <div class="panel-body">
                <button ng-click="controller.pay(flight)"
                        ng-show="controller.canPay(flight)"
                        class="btn btn-primary">
                    Pay
                </button>
                <button ng-click="controller.cancel(flight)"
                        ng-show="reservation.status != 'CANCELLED'"
                        class="btn">
                    Cancel
                </button>
            </div>
        </div>
    </div>

</div>
